<!-- home.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}

<!--<div class = "row">
	<div class = "col-md-4 bg-primary"><p class ="text-center">ROW 1 COL 1</p></div>
	<div class = "col-md-4 bg-info"><p class ="text-center">ROW 1 COL 2</p></div>
	<div class = "col-md-4 bg-primary"><p class ="text-center">ROW 1 COL 3</p></div>
</div>

<div class = "row">
	<div class = "col-md-6 bg-danger">ROW 2 COL 1</div>
	<div class = "col-md-6 bg-warning">ROW 2 COL 2</div>
</div>-->

 <div class = "nav">
    <div class = "container">
      <h1 href="#"> Fernando Sarracino</h1>
        <h1 href="#">Bio</h1>
        <h1 href="#">Work</h1>
        <h1 href="#">Contact</h1>

    </div>
  </div>

{% endblock content_container %}